<h1>Reiniciar contraseña</h1>
<h3>Ingresa tu contraseña anterior y luego la nueva contraseña</h3>
<form action="resetPass" id="resetPassForm">
    <label for="userMail">Usuario</label>
    <input type="mail" id="userMail" name="email">
    <label for="oldPass">Contraseña anterior</label>
    <input type="password" id="oldPassword" name="oldPassword">
    <label for="password">Nueva Contraseña</label>
    <input type="password" id="newPassword" name="newPassword">
    <input type="submit" value="Enviar" id="sendLogin">
</form>

<script src="/js/continueRecovery.js"></script>