<h1>¡Listo!</h1>
<h4>Si eres un usuario registrado recibirás un correo para reiniciar la
    contraseña</h4>
<h4>Podría llegar a la casilla de SPAM ¡No olvides revisarla!</h4>

<a href="/api/sessions/githubLogin">
    <h3>Login con Github</h3>
</a>
<h3>¿Aún no tienes un usuario?</h3>
<a href="/api/sessions/register">
    <h3>Registrate aquí</h3>
</a>